<div id="<%= dom_id kart %>">
  <p>
  <strong>Nom du Kart:</strong>
  <%= kart.size %>
  </p>
  
  <p>
    <strong>Description du kart:</strong>
    <%= kart.description %>
  </p>

  <p>
    <img src="<%= kart.image %>">
  </p>

</div>