<p style="color: green"><%= notice %></p>

<header>
<a href="index.html"><img src="/app/assets/images/logo.png" alt="logo"></a>
</header>
<div class="phrase_accroche">
<h2>Vous avez encore des doutes sur le choix de votre véhicule sur Mario Kart ? Aucun problème ! Mkmania est la réponse à tout vos problèmes existentiels.</h2>
</div>

<div id="karts">
  <% @karts.each do |kart| %>
    <%= render kart %>
    <p>
      <%= link_to "Show this kart", kart %>
    </p>
  <% end %>
</div>

<%= link_to "New kart", new_kart_path %>
