 body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /*background-color: aliceblue;*/
  
}

body.gradient-background {
    background: linear-gradient(to right, #ff6600, #ffcc00, #66ff66, #0099cc, #ff3399);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }

h2{
    margin-left: 15%;
    margin-right: 15%;
}


header{
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

header img{
    width: 30em;
}

footer p{
    margin: 2px;
    text-align: center;
}

#karts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.voiture{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
  
#karts img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 0 !important;
  }
  
#karts p {
    margin: 0;
    padding: 10px;
  }

a{
    padding: 5px;
    background-color: #0038FF;
    text-decoration: none;
    border: 2px solid #001b7b;
    border-radius: 15px;
    color:white;
  }

.liens_ruby{
    text-align: center;
}

.goofy{
    background-color: initial;
}

h1{
    text-align: center;
}
/*
input, textarea{
    background-color: #0038FF;
    opacity: 10%;
    border: #0038FF;
    border-radius: 15px;
    padding: 2%;
    margin-top:1%;
    margin-bottom: 3%;
    color: black;
    font-size: 15px;
}*/

input, textarea {
    background-color: rgba(0, 56, 255, 0.1);
    border: 1px solid #0038FF;
    border-radius: 15px;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    color: black;
    font-size: 15px;
}

form{
    text-align: center;
}

.show_back{
    text-align: center;
}

/*     SHOW      */

.show_shpoink{
    display: flex;
}

.show_desc{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 10%;
}

.kart_image{
    width: 75%;
}